* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #111827;
  position: sticky;
  top: 0;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

#gallery {
  column-count: 4;
  column-gap: 10px;
  padding: 20px;
}

#gallery img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

#gallery img:hover {
  transform: scale(1.03);
}

#loading {
  text-align: center;
  display: none;
}

#error {
  text-align: center;
  color: red;
}